<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>tprog.web.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerServicio</servlet-name>
        <servlet-class>tprog.web.VerServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPromocion</servlet-name>
        <servlet-class>tprog.web.VerPromocion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Carrito</servlet-name>
        <servlet-class>tprog.web.Carrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarReserva</servlet-name>
        <servlet-class>tprog.web.GenerarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerInfoProveedor</servlet-name>
        <servlet-class>tprog.web.VerInfoProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarCliente</servlet-name>
        <servlet-class>tprog.web.RegistrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoCliente</servlet-name>
        <servlet-class>tprog.web.NuevoCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarReserva</servlet-name>
        <servlet-class>tprog.web.CancelarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JqueryServlet</servlet-name>
        <servlet-class>tprog.web.AjaxNickname</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxMail</servlet-name>
        <servlet-class>tprog.web.AjaxMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerProveedores</servlet-name>
        <servlet-class>tprog.web.VerProveedores</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>tprog.web.Home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EstadoSesion</servlet-name>
        <servlet-class>tprog.web.EstadoSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>tprog.web.CerrarSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CtrlCarga</servlet-name>
        <servlet-class>tprog.web.carga.CtrlCarga</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CtrlCarga</servlet-name>
        <url-pattern>/CargarDatos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Buscar</servlet-name>
        <servlet-class>tprog.web.Buscar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Buscar</servlet-name>
        <url-pattern>/Buscar/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerInfoServicio</servlet-name>
        <url-pattern>/VerInfoServicio</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VerInfoServicio</servlet-name>
        <servlet-class>tprog.web.VerInfoServicio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerPerfil</servlet-name>
        <url-pattern>/VerPerfil</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VerPerfil</servlet-name>
        <servlet-class>tprog.web.VerPerfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerServicio</servlet-name>
        <url-pattern>/VerServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPromocion</servlet-name>
        <url-pattern>/VerPromocion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Carrito</servlet-name>
        <url-pattern>/Carrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarReserva</servlet-name>
        <url-pattern>/GenerarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerInfoProveedor</servlet-name>
        <url-pattern>/VerInfoProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarReserva</servlet-name>
        <url-pattern>/CancelarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JqueryServlet</servlet-name>
        <url-pattern>/JqueryServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxMail</servlet-name>
        <url-pattern>/AjaxMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerProveedores</servlet-name>
        <url-pattern>/VerProveedores</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
			30
		</session-timeout>
    </session-config>
</web-app>
